/* Your code here */

body {
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0px;
}

.header-nav__container {
  display: flex;
  background-color: #026AA7;
  font-size: 16px;
  /* line-height: 20px; */
  padding: 4px;
  color: white;
  justify-content: space-between;
  border: 1px solid red;
}

#alerts {
  background-color: #CF513D;
}

@media screen and (max-width: 730px) {
  .boards-label {
    visibility: hidden;
  }

  input[type="search"] {
    visibility: hidden;
  }
}

/* border: 1px solid red; */
.team__container {
  background-color: #f4f5f7;
  padding: 32px;
}

.team__info {
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.team__info>h1 {
  margin: 0 0 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.team__info>a {
  color: #172b4d;
  line-height: 20px;
  font-weight: normal;
}

.tabbed-nav__container {
  background-color: #f4f5f7;
}

.tabbed-nav__group {
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
}

.tabbed-nav__link {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-bottom: 0;
  border-radius: 2px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
  margin: 0 5px;
  color: #172b4d;
}

@media screen and (min-width: 501px) {
  .tabbed-nav__group {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .tabbed-nav__group {
    display: block;
  }
  
  .tabbed-nav__link {
    display: block;
  }
}
/* Supplied CSS follows. */
.header-nav__group {
  display: flex;
}

.header-nav__button {
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid red;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 100%, .3);
  box-shadow: none;
  color: #fff;
  line-height: 32px;
  margin: 0 4px 0 0;
  transition: .1s ease;
  white-space: nowrap;
  padding: 8px;
  height: 20px;
}

.header-nav__button#search>input {
  border-style: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-nav__button>.boards-label {
  font-weight: 700;
  padding-left: 4px;
}

.header-nav__trello-logo {
  opacity: 0.5;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 5px;
  border: 1px solid red;
}

.header-nav__button>i {
  width: 24px;
}
